# Files/directories to ignore when exporting to tarball/zip
# Based on and extended from mkdist/XMLTV 0.5.70
#
# XMLTV project files
/MANIFEST.SKIP export-ignore
/mkdist export-ignore
/todo export-ignore
# docker files
/.Dockerfile.* export-ignore
/.dockerignore export-ignore
# travis files
/.travis.yml export-ignore
# Git files
/.gitattributes export-ignore
/.gitignore export-ignore
# Github files
/.github export-ignore
